html {
    background-color: #13131a;
}

body {
    background-color: #13131a;

}

div {
    color: white;
}

/*.gif-preview {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}
*/
/* entire container, keeps perspective */
.flip-container {
    perspective: 1000px;
}
    /* flip the pane when hovered */
    .flip-container:active .flipper, .flip-container.active .flipper {
        transform: rotateY(180deg);
    }

.flip-container, .front, .back {
    width: 480px;
    height: 320px;
}

/* flip speed goes here */
.flipper {
    transition: 0.5s;
    transform-style: preserve-3d;

    position: relative;
}

/* hide back of pane during swap */
.front, .back {
    backface-visibility: hidden;

    position: absolute;
    top: 0;
    left: 0;
}

/* front pane, placed above back */
.front {
    z-index: 2;
    /* for firefox 31 */
    transform: rotateY(0deg);
}

/* back, initially hidden pane */
.back {
    transform: rotateY(180deg);
}